
* {
	font-family: Helvetica;
	font-size: 14pt;
}

html, body, #container {
	padding: 0;
	margin: 0;
	border: 0;
}

#content {
	padding: 20px;
}

div, input {
	box-sizing: border-box;
}

#qr {
	width: 256px;
	height: 256px;
	padding: 0;
	margin: 0;
}

#qr canvas {
	margin: 0;
	padding: 0;
}


#options-button {
	color: #bbbbba;
	font-family: Helvetica;
	font-size: 14px;
	line-height: 1em;
	font-weight: bold;

	padding-left: 15px;
	margin-top: 20px;

	cursor: pointer;
	position: relative;
}

#options-button:before {
	-webkit-transition: -webkit-transform 0.15s linear;
	transition: transform 0.15s linear;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: 0;
	height: 0;
	display: block;
	content: "";
	z-index: 10;

	border-top: 5px solid #bbbbba;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	position: absolute;
	left: 0px;
	top: 4px;
}

#options-button.active:before {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

#options {
	-webkit-transition: height 0.25s linear;
	transition: height 0.25s linear;
	width: 296px;
	height: 0px;
	overflow: hidden;
	background: #e4e4e4;
}

#options.active {
	height: 210px;
}

#options .label {
	color: #595958;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
}

#options .wrapper {
	display: inline-block;
	width: 296px;
	-webkit-transition: margin-left 0.25s linear;
	margin-left: 0px;
	padding: 20px;
}

#in {
	border-radius: 3px;
	font-family: Helvetica;
	font-size: 24px;
	color: #595958;
	padding: 10px;
	margin: 10px 0 15px 0;
	border: none;
	width: 100%;
	display: inline;
	outline: none;
}

#correction-level {
	-webkit-appearance: none;
	font-family: Helvetica;
	color: #595958;
	border: none;
	padding: 10px;
	margin: 10px 0 15px 0;
	position: relative;
}



ul.slider {
	display: block;
	width: 200px;
	background: #c1c1c1;
	height: 5px;

	margin: 22px;
	padding: 0;
}

ul.slider li {
	width: 50px;
	cursor: pointer;
	position: relative;
	list-style-type: none;
	display: inline-block;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	color: #c1c1c1;
	-webkit-transition: color 0.25s linear;
}

ul.slider li:nth-child(1) { left: -20px; }
ul.slider li:nth-child(2) { left: 21px; }
ul.slider li:nth-child(3) { left: 61px; }

ul.slider li:before {
	content: "●";
	font-size: 30px;
	margin-top: -17px;
	margin-bottom: -5px;
	color: #c1c1c1;
	-webkit-transition: color 0.25s linear;
	display:block;
}

ul.slider li.active {
	color: #585858;
}
ul.slider li.active:before {
	color: #585858;
}


@font-face {
  font-family: 'octicons';
  font-style: normal;
  src: url('octicons.woff') format('woff');
}

#links {
	position: absolute;
	bottom: 2px;
	right: 4px;
	color: #dfdfdf;
}

#links a {
	color: #dfdfdf;
	cursor: pointer;
	-webkit-transition: color 1.25s linear;
}
#options.active #links a {
	color: #c1c1c1;
}

.octicon {
	font: normal normal 16px octicons;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}
.octicon-globe:before {
	content: '\f0b6';
}
.octicon-info:before {
	content: '\f059';
}
.octicon-mark-github:before {
	content: '\f00a';
}
